<ion-view title="Berting" id="page12">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/1EeUpSoPTqW2NNydh7G2_145853.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="berting-list9">
      <ion-item id="berting-list-item31">Name: Berting Kabu</ion-item>
      <ion-item id="berting-list-item32">Number: 09345677289</ion-item>
    </ion-list>
  </ion-content>
</ion-view>