<ion-view title="Contacts" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="contacts-form2" class="list">
      <label class="item item-input" id="contacts-search2" name="Search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search Contacts">
      </label>
      <ion-item class="item-avatar" id="contacts-list-item1" ui-sref="karla()">
        <img src="img/jnYdkz2SQuyq3E9Aqpjt_145856.png">
        <h2>Karla</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item2" ui-sref="peter()">
        <img src="img/b3ZDaHzTTzieDHmHeUS1_145867.svg">
        <h2>Peter</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item3" ui-sref="pamela()">
        <img src="img/eORgHBLcSj6GWz7v3574_girl.svg">
        <h2>Pamela</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item4" ui-sref="rocco()">
        <img src="img/CZLMy2sJR2yhooSRFwQr_145857.png">
        <h2>Rocco</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item5" ui-sref="harvey()">
        <img src="img/fcSQIlcTtSXtaxECtnc3_145865.png">
        <h2>Harvey</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item6" ui-sref="jericho()">
        <img src="img/0tgQsOPeQqibQSuIyMpG_145855.png">
        <h2>Jericho</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item7" ui-sref="reyvie()">
        <img src="img/JXvtGXJ9TuCgqixjh7Et_boy1.svg">
        <h2>Reyvie</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item9" ui-sref="kenneth()">
        <img src="img/aMHX5dzeSjCg3MXmzuu1_145853.png">
        <h2>Kenneth</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item10" ui-sref="berting()">
        <img src="img/4mETbbZeSUmsIHXY1BBI_145853.png">
        <h2>Berting</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item8" ui-sref="paul()">
        <img src="img/oiy0yQgR8utG7wFzzRzg_145855.png">
        <h2>Paul</h2>
      </ion-item>
    </form>
  </ion-content>
</ion-view>